*{
  background-color: #228C22;
  color: antiquewhite;
  
}

.App{
  display: flex;
  background-color: #228C22;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  box-shadow: inset 0 0 10vw black;
  margin: 0;
  border-radius: 25px;
  
}

header, h1, footer, h2, h3, .form-page, form, .game-page{
  background-color: #228c2200;
}

.form-page{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-page > form{
  display: flex;
  gap: 8px;
}
.form-page > form > label{
  font-size: 1.5rem;
}
.form-page > form > input{
  color: white;
}

.game-page{
  box-shadow: none;
  background-color: #228c2200;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chip-container{
  display: flex;
  flex-direction: column;
  width: 80vw;
  align-items: center;
  background-color: #228c2200;
}
.chip-container > div > img{
  width: 16vw;
  background-color: #228c2200;
}

@media (min-width: 1025px){

  .App{
    box-shadow: inset 0 0 20vw black;
    
  }

  .chip-container{
    width: 50vw;
  }
  .chip-container > div > img{
    width: 10vw;
  }
  

}